<!-- Home Page
=================-->

<% if logged_in? %>
  <h3 style="margin-top: 90px"></h3>
  
  <div class="row">
    <div class="col-md-4 col-md-offset-4" >
      <button style="margin-top: 90px" type="button" class="btn btn-primary btn-lg btn-block"><p><span class="glyphicon glyphicon-upload"></span> Upload Multiple Entries</p><small>(*.xlsx, *.xls, *.csv)</small></button>
    </div>
  </div>
  
  <hr class="style-one" style="margin-top: 90px">
  
  <div class="row">
    <div class="col-md-4 col-md-offset-4" >
      <a href="#myModal" style="margin-top: 90px" role="button" class="btn btn-info btn-lg btn-block" data-toggle="modal"><p><span class="glyphicon glyphicon-hand-up"></span> Save Single Entry</p></a>
    </div>
  </div>
  
  <%= render 'shared/item_form' %>
  
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        
        <div class="modal-header">
          <button class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Item Creation Form</h4>
        </div><!-- end modal header-->
        
        <div class="modal-body">
          <%= render 'shared/item_form' %>
        </div><!-- end modal body-->
        
        <div class="modal-footer">
          <p><small class="text-muted">Powered by Cognizant Technology Solutions&trade;</small></p>
        </div><!-- end modal footer-->
      
      </div><!-- end modal content-->
    </div><!-- end modal dialog-->
  </div><!-- end modal -->
  
  <hr class="style-one" style="margin-top: 90px">
  
  <div class="row">
    <div class="col-sm-12">
      <h2>Launch InSight&trade; Dashboard</h2>
      <p class="lead">Blah blah on InSight</p>
    </div>  
  </div>
  
  <div class="row" id="dashboardSection">
    
    <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <img src="http://placehold.it/570x320">
        <div class="caption">
          <h3>View and Manage Inventory Items</h3>
          <p>View Inventory snapshot as well as manage Items by editing Item attributes or deleting them.</p>
          <%= link_to "View Inventory", current_user, :class => "btn btn-primary" %>
        </div>
      </div>
    </div>
    
    <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <img src="http://placehold.it/570x320">
        <div class="caption">
          <h3>View Item Dashboard</h3>
          <p>Visually take stock of Inventory Items indivisually and Analyze important Inventory attributes.</p>
          <%= link_to "View Inventory", current_user, :class => "btn btn-primary" %>
        </div>
      </div>
    </div>
    
  </div><!-- end dashboardSection -->
  
  <hr class="style-one" style="margin-top: 50px">
  
  <div class="row">
    <div class="col-sm-12">
      <h2>Export Your Inventory</h2>
      <p class="lead">InSight&trade; comes with a strong suite of Export 
      mediums right out of the box ranging from Microsoft Excel&trade; 
      supported CSV format as well as Industry standard JSON and XML formats to
      make inter-application communication easier through APIs</p>
    </div><!-- end col-md-12 -->
  </div><!-- end row -->
  
  <div class="row" id="exportPanels">
    <div class="col-md-4 feature">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>View on Local System</h4>
        </div><!-- end panel-heading -->
        <div class="panel-body">
          <%= image_tag("CSV.jpg", alt: "CSV", class: "img-circle") %>
          <p>View all inventory items, its attributes and important statistics quickly in an easy to handle Excel supported CSV file.</p>
          <a href="/items.csv" class="btn btn-warning btn-block">Download CSV File</a>
        </div><!-- end panel body -->
      </div><!-- end panel -->
    </div><!-- end col-4 -->
    
    <div class="col-md-4 feature">  
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Connect with API</h4>
        </div><!-- end panel-heading -->
        <div class="panel-body">
          <%= image_tag("JSON.jpg", alt: "JSON", class: "img-circle") %>
          <p>JSON is the industry standard data interchange format which makes it easy to connect InSight&trade; with other Supply Chain apps such as OMS and WMS.</p>
          <a href="/items.json" target="_blank" class="btn btn-primary btn-block">Use JSON</a>
        </div><!-- end panel body -->
      </div><!-- end panel -->
    </div><!-- end col-4 -->
    
    <div class="col-md-4 feature"> 
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Connect with API</h4>
        </div><!-- end panel-heading -->
        <div class="panel-body">
          <%= image_tag("XML.jpg", alt: "XML", class: "img-circle") %>
          <p><br>Alternatively, connect InSight&trade; with your legacy applications using XML based Inventory feed.</p>
          <a href="/items.xml" target="_blank" class="btn btn-danger btn-block">Use XML</a>
        </div><!-- end panel body -->
      </div><!-- end panel -->
    </div><!-- end <col-md-4></col-md-4> -->
  </div><!-- end row -->

<% else %>
<div class="jumbotron">
  <h1>Hello, World!</h1>
  <p>Welcome to the Home Page of your compact Inventory Management System.</p>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<% end %>