<!-- Item Show page
=======================-->

    <!-- Item Attributes Section
    ==============================-->

<h3 style="margin-top: 90px">Item Attributes</h3>
<hr style="margin-top: 0">

<div class="row">
  <div class="col-md-12">
    <div class="input-group">
      <span class="input-group-addon" ><span class="glyphicon glyphicon-list-alt"></span></span>
      <input class="form-control" type="text" style="font-weight: bold" value="Item Description : <%= @item.description %>" readonly/>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-6">
    <div class="input-group">
      <span class="input-group-addon" ><span class="glyphicon glyphicon-asterisk"></span></span>
      <input class="form-control" type="text" value="Item Code : <%= @item.item_code %>" readonly/>
    </div>
  </div>
  <div class="col-md-6">
    <div class="input-group">
      <span class="input-group-addon" ><span class="glyphicon glyphicon-home"></span></span>
      <input class="form-control" type="text" value="Item Location : <%= @item.location %>" readonly/>
    </div>
  </div>
</div>      

<br>        

<div class="row">
  <div class="col-md-6">
    <div class="input-group">
      <span class="input-group-addon" ><span class="glyphicon glyphicon-usd"></span></span>
      <input class="form-control" type="text" value="Item Cost : $ <%= @item.cost.round(2) %>" readonly/>
    </div>
  </div>
  <div class="col-md-6">
    <div class="input-group">
      <span class="input-group-addon" ><span class="glyphicon glyphicon-eye-open"></span></span>
      <input class="form-control" type="text" value="Service Level : <%= @item.service_level %>" readonly/>
    </div>
  </div>
</div>      

<br>

<div class="row">
  <div class="col-md-6">
    <div class="input-group">
      <span class="input-group-addon" ><span class="glyphicon glyphicon-leaf"></span></span>
      <input class="form-control" type="text" value="Item Class : B" readonly/>
    </div>
  </div>
  <div class="col-md-6">
    <div class="input-group">
      <span class="input-group-addon" ><span class="glyphicon glyphicon-info-sign"></span></span>
      <input class="form-control" type="text" value="Unit of Measure : <%= @item.uom %>" readonly/>
    </div>
  </div>
</div>      
        
    <!-- HighCharts Section
    ==============================-->  
    
<h3 style="margin-top: 50px">Demand Forecast for next 12 Weeks</h3>
<hr style="margin-top: 0">

  <div class="row">
    <div id="chart20" style="width:100%; height:400px;"></div>
  </div>

<script type="text/javascript" charset="utf-8">

$(function () {
    $('#chart17').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Safety Stock'
        },
        subtitle: {
            text: 'In Dollars ($)'
        },
        xAxis: {
            categories: ['Week 1-4', 'Week 5-8', 'Week 9-12'],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'In Dollars ($)'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} $</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0,
                dataLabels: {
                    enabled: true
                }
            }
        },
        series: [{
            name: 'Using Mape%',
            data: [<%= (@item.safety_stock_1 * @item.cost).round(2) %>, <%= (@item.safety_stock_2 * @item.cost).round(2) %>, <%= (@item.safety_stock_3 * @item.cost).round(2) %>]

        }, {
            name: 'Using RMSE%',
            data: [<%= (@item.safety_stock_1 * @item.cost * 0.8).round(2) %>, <%= (@item.safety_stock_2 * @item.cost * 0.8).round(2) %>, <%= (@item.safety_stock_3 * @item.cost * 0.8).round(2) %>]

        }, {
            name: 'Weeks of Coverage',
            data: [<%= ((@item.df1 + @item.df2 + @item.df3 + @item.df4) * @item.cost).round(2) %>, <%= ((@item.df5 + @item.df6 + @item.df7 + @item.df8) * @item.cost).round(2) %>, <%= ((@item.df9 + @item.df10 + @item.df11 + @item.df12) * @item.cost).round(2) %>]

        }]
    });
});

  $(function () {
    $('#chart1').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Safety Stock for next 3 months (in <%= @item.uom %>)'
        },
        xAxis: {
            categories: ['Week 1-4', 'Week 5-8', 'Week 9-12'],
            title: {
                text: null
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Measured in <%= @item.uom %>',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            }
        },
        tooltip: {
            valueSuffix: '<%= @item.uom %>'
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        
        credits: {
            enabled: false
        },
        series: [{
            name: 'Using MAPE %',
            data: [<%= @item.safety_stock_1.round(2) %>, <%= @item.safety_stock_2.round(2) %>, <%= @item.safety_stock_3.round(2) %>]
        },
        {
            name: 'Using RMSE %',
            data: [<%= @item.safety_stock_1.round(2) + 2 %>, <%= @item.safety_stock_2.round(2) + 2 %>, <%= @item.safety_stock_3.round(2) + 4 %>]
        },
        {
            name: 'Weeks of Coverage',
            data: [<%= @item.df1 + @item.df2 + @item.df3 + @item.df4 %>, <%= @item.df5 + @item.df6 + @item.df7 + @item.df8 %>, <%= @item.df9 + @item.df10 + @item.df11 + @item.df12 %>]
        }]
    });
});

$(function () {
    $('#chart20').highcharts({
        chart: {
            type: 'areaspline'
        },
        title: {
            text: 'Demand Forecast'
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            x: 550,
            y: 300,
            floating: true,
            borderWidth: 1,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
        },
        xAxis: {
            categories: ['Week1', 'Week2', 'Week3', 'Week4', 'Week5', 'Week6',
                'Week7', 'Week8', 'Week9', 'Week10', 'Week11', 'Week12']

        },
        yAxis: {
            title: {
                text: 'Measured in <%= @item.uom %>'
            }
        },
        tooltip: {
            shared: true,
            valueSuffix: ' <%= @item.uom %>'
        },
        credits: {
            enabled: false
        },
        plotOptions: {
            areaspline: {
                fillOpacity: 0.5,
                dataLabels: {
                    enabled: true
                }
            }
        },
        series: [{
            name: 'Item Code: <%= @item.item_code %>',
            data: [<%= @item.df1 %>, <%= @item.df2 %>, <%= @item.df3 %>, <%= @item.df4 %>, <%= @item.df5 %>, <%= @item.df6 %>, <%= @item.df7 %>, <%= @item.df8 %>, <%= @item.df9 %>, <%= @item.df10 %>, <%= @item.df11 %>, <%= @item.df12 %>,],
            color: '#2b908f'
        }]
    });
});

$(function () {
    $('#chart19').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Forecast Accuracy Trend (in %)'
        },
        xAxis: {
            categories: ['Month1', 'Month2', 'Month3', 'Month4', 'Month5', 'Month6']
        },
        yAxis: {
            title: {
                text: 'Measured in Percentages (%)'
            }
        },
        plotOptions: {
            column: {
                fillOpacity: 0.5,
                dataLabels: {
                    enabled: true
                }
            }
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Item Code: <%= @item.item_code %>',
            data: [<%= ((@item.hf1-@item.as1)/@item.as1).round(4)*100 %>, <%= ((@item.hf2-@item.as2)/@item.as2).round(4)*100 %>, <%= ((@item.hf3-@item.as3)/@item.as3).round(4)*100 %>, <%= ((@item.hf4-@item.as4)/@item.as4).round(4)*100 %>, <%= ((@item.hf5-@item.as5)/@item.as5).round(4)*100 %>, <%= ((@item.hf6-@item.as6)/@item.as6).round(4)*100 %>],
            color: '#f7a35c'
        }]
    });
});

$(function () {
    $('#chart18').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Forecast Attainment'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: "%",
            colorByPoint: true,
            data: [{
                name: "Attainment",
                <% fa = (@item.hf1+@item.hf2+@item.hf3+@item.hf4+@item.hf5+@item.hf6)/(@item.as1+@item.as2+@item.as3+@item.as4+@item.as5+@item.as6).to_f %>
                y: <%= if fa < 1 then fa.round(2)*100 else 100 end %> 
            }, {
                name: "ShortFall",
                y: <%= if fa < 1 then 100 - fa.round(2)*100 else 0 end %>,
                sliced: true,
                selected: true
            }]
        }]
    });
});

$(function () {
    $('#chart3').highcharts({
        chart: {
            type: 'area',
            spacingBottom: 30
        },
        title: {
            text: 'Historical Forecast vs Sales'
        },
        subtitle: {
            text: '* Data for past 6 months',
            floating: true,
            align: 'right',
            verticalAlign: 'bottom',
            y: 15
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            x: 75,
            y: 0,
            floating: true,
            borderWidth: 1,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
        },
        xAxis: {
            categories: ['Month1', 'Month2', 'Month3', 'Month4', 'Month5', 'Month6']
        },
        yAxis: {
            title: {
                text: 'Measured in <%= @item.uom %>'
            },
            labels: {
                formatter: function () {
                    return this.value;
                }
            }
        },
        tooltip: {
            formatter: function () {
                return '<b>' + this.series.name + '</b><br/>' +
                    this.x + ': ' + this.y;
            }
        },
        plotOptions: {
            area: {
                fillOpacity: 0.5
            }
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Sales',
            data: [<%= @item.as1 %>, <%= @item.as2 %>, <%= @item.as3 %>, <%= @item.as4 %>, <%= @item.as5 %>, <%= @item.as6 %>],
            color: '#90ed7d'
        }, {
            name: 'Historical Forecast',
            data: [<%= @item.hf1 %>, <%= @item.hf2 %>, <%= @item.hf3 %>, <%= @item.hf4 %>, <%= @item.hf5 %>, <%= @item.hf6 %>]
        }]
    });
});
</script>


  

<!--Forecast Accuracy-->

<h3 style="margin-top: 50px">Forecast Accuracy</h3>
<hr style="margin-top: 0">

<div class="row">
  <div class="col-md-4">
    <div class="input-group">
      <span class="input-group-addon" ><span class="glyphicon glyphicon-info-sign"></span></span>
      <input class="form-control" type="text" value="Root Mean Square Error : <%= @item.mape * 0.5 * 100 %> %" readonly/>
    </div>    
  </div>
  <div class="col-md-4">
    <div class="input-group">
      <span class="input-group-addon" ><span class="glyphicon glyphicon-info-sign"></span></span>
      <input class="form-control" type="text" value="Mean Absolute Percentage Error : <%= @item.mape * 100 %> %" readonly/>
    </div>    
  </div>
  <div class="col-md-4">
    <div class="input-group">
      <span class="input-group-addon" ><span class="glyphicon glyphicon-info-sign"></span></span>
      <input class="form-control" type="text" value="Forecast BIAS : <%= @item.bias * 100%> %" readonly/>
    </div>  
  </div>
</div>

<div class="row" style="margin-top: 50px">
  <div class="col-md-6">
    <div id="chart19" style="width:100%; height:400px;">Hi</div>
  </div>
  
  <div class="col-md-6">
    <div id="chart18" style="width:100%; height:400px;"></div>
  </div>
</div>

<br>

<div class="row">
    <div id="chart3" style="width:100%; height:400px;"></div>
</div>

<!--Safety Stock Analysis-->

<h3 style="margin-top: 50px">Safety Stock Analysis</h3>
<hr style="margin-top: 0"> 
  <div class="row">
    <div class="col-md-7">
      <div id="chart1" style="width:100%; height:400px;"></div>
    </div>
    <div class="col-md-5">
      <div id="chart17" style="width:100%; height:400px;"></div>
    </div>
  </div>