<!DOCTYPE html>
<html>
<head>
  <title>Inv Manager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

  <div class="container" id="main">

    <div class="navbar navbar-fixed-top navbar-default">
      <div class="container">
        
        <a class="navbar-brand" href="/"><%= image_tag("logo.png", alt: "My Logo") %></a>
        <ul class="nav navbar-nav">
          <li class="active"><a href="">Ignore</a></li>
          <li><%= link_to "Ignore",'#' %></li>
        </ul><!-- end nav left -->
                   
        <ul class="nav navbar-nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Spage2", spage2_path %></li>
          <% if logged_in? %>
          <li><%= link_to "Log out", logout_path, method: "delete" %></li>
          <% else %>
          <li><%= link_to "Log in", login_path %></li>
          <% end %>
        </ul><!-- end nav right -->
                   
      </div><!-- end navbar container -->
    </div><!-- end navbar -->

    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>" id="greenAlert"><%= message %></div>
    <% end %>
    
<%= yield %>
<%= debug(params) if Rails.env.development? %>      
  </div><!-- end main container -->

</body>
</html>
